.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 100px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
    margin-right: 20px;
    object-fit: contain;
}

.navbar-menu {
    margin-right: 120px;
    display: flex;
    gap: 120px;
    list-style: none;
    font-size: 20px;
}

.navbar-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.anchor-link {
    text-decoration: none;
    color: white; 
}

.anchor-link:hover {
    transform: scale(1.20);
    transition: 0.5s;
}

.nav-mob-open {
    display: none;
}

.nav-mob-close {
    display: none;
}

@media(max-width: 768px) {
    .navbar {
        padding: 10px;
    }
    
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 70px;
        top: 20px;
        height: 40px;
        width: 30px;
        cursor: pointer;
    }
    
    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        left: 300px;
        width: 30px;
        cursor: pointer;
    }
    
    .navbar-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right:-380px;
    }
    
    .navbar-menu li {
        font-size: 30px;
        padding-left: 30px;
        flex-direction: row;
        gap: 20px;
    }
}
